<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>523775229517-2vmg7gh0et3bqo3rbf6106mhlgnocbli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.523775229517-2vmg7gh0et3bqo3rbf6106mhlgnocbli</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>523775229517-mcr638869kk32l6vqrpjjcmm2n5qaroe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBGIr8XFOnL2McLiYfY4kGLWJB3PNJ2OJo</string>
	<key>GCM_SENDER_ID</key>
	<string>523775229517</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cenecApp</string>
	<key>PROJECT_ID</key>
	<string>cenec-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cenec-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:523775229517:ios:baec931cca84b9fb3ca604</string>
	<key>DATABASE_URL</key>
	<string>https://cenec-app-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>